@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row" style="justify-content: center;">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>@ViewData["Title"]</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    <input type="text" asp-for="Input.UserName" class="form-control" placeholder="Username" />
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <label for="floatingInput">Password</label>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label" style="display:flex;">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <div style="padding-left: 1.5rem;">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </div>
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
