@model EnginSermet_TechCareerProject.Entities.List

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>List</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.LabelFor(model => model.ListName, "List Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ListId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.ListId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
